<ion-header>
  <ion-img [src]="logo"></ion-img>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="retourPage()">
      <ion-icon name="arrow-round-back"></ion-icon>
    </ion-buttons>
    <h5 text-center="" text-wrap="" style="color: white">{{slogan}}</h5>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list>

    <img style="height:350px;width:370px" src="assets/images/sory.jpg">

    <h3 text-wrap="" text-center="" style="color:#0bb8cc">
      Mr Sory KABA, Directeur des sénégalais de l'extérieur
    </h3>

    <iframe src="https://www.youtube.com/embed/a36MwS_Ele8"></iframe>

    <p text-wrap="" text-center="">
      A la tête de la direction des sénégalais de l’extérieur depuis bientôt cinq ans
      et spécialiste des questions de migrations et développement en général, le natif
      de Fatick a piqué très tôt le virus politique, en intégrant en 1988 le parti
      socialiste. Il suivra la trajectoire de celui qu’il nomme sa « référence » feu
      Djibo leyti Ka en intégrant l’Urd où il occupe le poste stratégique de responsable
      de la jeunesse de 1998 à 2003. Arrivé en France en 2013 pour poursuivre ses études,
      son expertise et sa formation font de lui un profil idéal pour traduire la vision
      de l’Etat sur la question de la diaspora. Nommé administrateur au fond d’appui à
      l’investissement des sénégalais de l’extérieur (FAISE) , il prend des galons, huit
      mois après , et devient Directeur General des sénégalais de l’extérieur avec cerise
      sur le gâteau, trois mois plus tard, le titre honorifique d’ambassadeur.
      Sa lettre de mission orientée sur trois axes que sont l’accès aux documents
      administratifs, l’investissement des Sénégalais et l’accès au logement, fait de lui
      un interlocuteur privilégié pour la diaspora.
    </p>

    <p text-wrap="" text-center="">
      Sa lettre de mission orientée sur trois axes que sont l’accès aux documents
      administratifs, l’investissement des Sénégalais et l’accès au logement, fait de lui
      un interlocuteur privilégié pour la diaspora.
    </p>

  </ion-list>

</ion-content>
