<ion-header>
  <ion-img [src]="logo"></ion-img>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="retourPage()">
      <ion-icon name="arrow-round-back"></ion-icon>
    </ion-buttons>
    <h5 text-center="" text-wrap="" style="color: white">{{slogan}}</h5>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list>

    <img style="height:350px;width:370px" src="assets/images/sidiki-kaba.jpg">

    <h3 text-wrap="" text-center="" style="color:#0bb8cc">
      Me Sidiki KABA, Le ministre des affaires étrangères et des sénégalais de l'exterieur
    </h3>

    <iframe src="https://www.youtube.com/embed/ZpIYkrloKsM"></iframe>

    <p text-wrap="" text-center="">

      Né le 21 août 1950 Sidiki Kaba a fait ses études primaires dans sa ville natale,
      Tambacounda, avant de poursuivre ses études secondaires, comme la plupart des
      jeunes de cette contrée à l’époque, au Lycée Van Vollennoven, actuel Lycée
      Lamine Guèye de Dakar où il obtient son baccalauréat en 1972.

      Jeune bachelier, Sidika Kaba entame des études universitaires à Abidjan et à Dakar.
      Ses humanités dans ces deux universités africaines sont sanctionnées par l’obtention
      de licences en Droit, en Philosophie et en Lettres modernes, mais aussi par une
      maîtrise en Droits des affaires. Le barreau de Dakar s’ouvre alors à Me Sidiki Kaba
      qui poursuit en même temps ses études supérieures tout en enseignant le français au
      Lycée Aké Loba d’Abidjan de 1975 à 1978. De 1985 à 2000, il siège au Conseil de
      l’Ordre.
    </p>

    <p text-wrap="" text-center="">
      Me Sidiki Kaba s’est consacré, très tôt, à la défense et à l’illustration des droits
      de l’Homme aussi bien au Sénégal que sur le continent africain en général. En 1981
      déjà, il intègre la section sénégalaise d’Amnesty International avant de rejoindre ONU.
    </p>

  </ion-list>

</ion-content>
