<ion-header>
  <ion-img [src]="logo"></ion-img>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="retourPage()">
      <ion-icon name="arrow-round-back"></ion-icon>
    </ion-buttons>
    <h5 text-center="" text-wrap="" style="color: white">{{slogan}}</h5>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h4>A propos de E-Alerte</h4>

  <p>
    E-Alerte est une application destinée aux sénégalais de l'extérieur pour leur
    permettre de mieux s'informer.
  </p>

  <p>
    Tel: 77 100 53 53
  </p>

</ion-content>
